.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
.vscode/
telemetry_etl/
__pycache__/
*.pyc
*.pkl
*.csv
*.parquet
*.log
*.tmp
data/
raw_data/
taxi/
*.csv